<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.burno.selectionlauncher">

    <application
        android:name=".SelectionLauncherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="pl.burno.selectionlauncher.ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".launcher.InstagramActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".launcher.SnapchatActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <activity-alias
            android:name=".Instagram"
            android:enabled="true"
            android:label="@string/title_instagram"
            android:targetActivity=".launcher.InstagramActivity">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Snapchat"
            android:enabled="true"
            android:label="@string/title_snapchat"
            android:targetActivity=".launcher.SnapchatActivity">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>